Source: pdhcp
Section: net
Priority: optional
Maintainer: Pierre-Yves Kerembellec <py.kerembellec@gmail.com>
Build-Depends: debhelper (>= 5), golang-1.20
Standards-Version: 3.7.2

Package: pdhcp
Architecture: any
Description: programmable BOOTP/DHCP client/server/relay

